
.about__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.about__image {
    flex: 1;
    max-width: 350px;
    margin-right: 20px;
}

.about__image img {
    width: 100%;
    border-radius: 5px;
}

.about__info {
    flex: 1; 
    max-width: 400px;
    padding: 10px; 
}

.about__info p {
    font-size: 1em;
    margin-bottom: 15px;
}

.about__numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.about__number {
    text-align: center;
    flex: 1;
    padding: 10px; 
    margin: 0 5px;
}

.about__number h2 {
    font-size: 2em; 
    margin: 0;
}

.about__number p {
    color: #777;
    font-size: 0.9em;
    margin-top: 5px;
}


.about__cv {
    text-align: left;
}

.cv-button {
    background-color:var(--first-color);
    color: white;
    border: none;
    padding: 0px 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    height: 55px;
}

.cv-button:hover {
    background-color:var(--first-color-alt);
}

.download-icon {
    margin-left: 5px;
}
.downloadIcon{
    width: 20px;
    margin: 14px 0 0;
}