.testimonial_container{
    margin: 0 auto;
}

.testimonial_data,
.testimonial_header{
    display: flex;
    margin-bottom: var(--mb-1);

}

.testimonial_data{
    justify-content: space-between;
}

.testimonial_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: var(--mb-0-75);
}

.testimonial_name{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.testimonial_client{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.testimonial_description{
    margin-bottom: var(--mb-2-5);
}

.testimonial_icon{
    color: var(--first-color);
}

.swiper-horizontal{
    max-width: 998px;
    padding: 2rem;
}

.swiper-slide{
    margin-right:35px !important;
}