.portfolio_section{
    padding-bottom: 0;
}
.portfolio_container{
    overflow: initial;
    margin: 0 auto;
    padding: 0 30px;
}

.portfolio_content{
    padding: 0 1.5rem;
    display: flex !important;
}

.portfolio_image{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio_button:hover .button_icon{
    transform: translateX(.25rem);
}
.button--s{
    display: flex;
    width: 110px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: var(--first-color);
    border-radius: 0.5rem;
    color: var(--input-color);
    margin-top: 20px;
}

.portfolio_image,
.portfolio_data{
    margin: 40px;
}
.portfolio_image{
    margin-right: 0px;
}

.mySwiper {
    width: 100%;
    padding: 10px 0;
}
  
.swiper-button-next::after,
.swiper-button-prev::after {
  /* content: ''!important;  */
  font-size: 1rem !important;
  color: var(--first-color);
  font-weight: 900;
}

/* .swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
} */

.swiper-button-prev{
    left: -.5rem !important;
}
.swiper-button-next{
    right: -.5rem !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem !important;
}

.swiper-pagination-bullet-active{
    background: var(--first-color) !important;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet{
    outline: none;
}